@import './assets/scss/variables';
@import './bootstrap/scss/bootstrap';
@import './assets/scss/table';
@import './assets/scss/button';


.section-title {
  margin: 0;
  font-weight: bold;
  color: $my-dark-color;
}

body {
  margin: 0;
  padding: 0;
  background-color: #2c2c2c; // mismo que el dashboard-container
  color: #f5f5f5;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
